@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 36, 36, 36;
  --accent-rgb: 220, 237, 243;
  --warning-rgb: 255, 233, 179;
  --error-rgb: 247, 172, 133;
  --success-rgb: 237, 254, 190;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

main {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}